$feed-font: 'Open Sans', Arial, Helvetica, sans-serif;
$feed-font-size: 14px;
$feed-font-color: #333333;

@import '../styles/highlights';

.feed {
  .feed-group {
    > p.date {
      color: #808080;
      border-bottom: 1px solid #bbbbbb;
      padding-bottom: 5px;
      margin-bottom: 20px;
      font-size: 16px;
    }
    .fa {
      color: #50338F;
    }
    .feed-object {
      margin-top: 10px;
      margin-bottom: 10px;
      margin-left: 0px;
      margin-right: 0px;

      .recommended-treats, .network-joined, .network-treat-redemption, .user-level-increase, .highlights-change {
        a {
          font-weight: bold;
        }
      }
    }
  }
}