$menu-font: 'Open Sans', Helvetica, Arial, sans-serif;
// $menu-font-weight: 100;
$menu-font-size: 14px;
$menu-font-color: #ffffff;

.menu {
  background-color: #50338F;
  color: $menu-font-color;
  padding: 0;
  position: fixed;
  height: 100%;
  width: 213px;

  .logo {
    border-bottom: 2px solid #412A73;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 60px;
  }

  h1, h2, h3, h4, h5, p, span {
    font-family: $menu-font;
    // font-weight: $menu-font-weight;
  }
  h1, h2, h3, h4, h5 {
    font-size: 12px;
    margin: 0;
    padding-top: 0px;
    padding-bottom: 5px;
    padding-left: 15px;
    color: #C2A5FF;
    font-weight: bold;
  }
  h3 {
    color: #ffffff;
  }
  ul {
    list-style: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 0px;
    margin: 0;
    border-top: 2px solid #5A37A7;
    border-bottom: 2px solid #412A73;

    li {
      padding-top: 6px;
      padding-bottom: 6px;
      font-size: $menu-font-size;
      font-weight: 300;
      a {
        color: $menu-font-color;
        width: 100%;
        height: 100%;
        display: block;
        padding-left: 15px;
        text-decoration: none;

        .fa-facebook {
          background-color: #3C5A96;
          width: 20px;
          height: 20px;
          padding-left: 6px;
          padding-top: 4px;
          color: #ffffff;
          font-size: 13px;
          border-radius: 3px;
          margin-right: 3px;
        }
        .fa-twitter {
          background-color: #26ADEA;
          width: 20px;
          height: 20px;
          padding-left: 5px;
          padding-top: 5px;
          color: #ffffff;
          font-size: 12px;
          border-radius: 3px;
          margin-right: 3px;
        }
        .fa-instagram {
          background-color: #5380A2;
          width: 20px;
          height: 20px;
          padding-left: 5px;
          padding-top: 5px;
          color: #ffffff;
          font-size: 11px;
          border-radius: 3px;
          margin-right: 3px;
        }
      }
      img.user-portrait{
        margin-left: -3px;
        padding-right: 2px;
      }
      .treats {
        margin-right: 2px;
      }
      .network {
        font-size: 16px;
      }
      &:hover {
        background-color: #8845BF;
        cursor: pointer;
      }
    }
  }
  ul.footer {
    li {
      font-size: 11px;
      padding-top: 1px;
      padding-bottom: 1px;
      a {
        // text-decoration: none;
        display: initial;
        &:hover {
          text-decoration: underline;
        }
      }
      &:hover {
        background-color: transparent;
        cursor: default;
        color: #ffffff;
      }
    }
  }
}

.sub-menu {
  text-align: center;
  border-bottom: 2px solid #cccccc;
  height: 37px;
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 18px;
  font-weight: bold;
  color: #AAAAAA;
  a {
    color: #AAAAAA;
    &:hover, &.active {
      color: #50338F;
      text-decoration: none;
    }
  }
}
.fa {
  font-size: 18px;
  padding-right: 5px;
  color: #C2A5FF;
  text-align: center;
}
.progress-bar-group {
  .progress {
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 0px;
  }
  .progress-level {
    margin-bottom: 0px;
    font-size: 12px;
    font-weight: bold;
    padding-left: 15px;
  }
  .progress-bar {
    background-color: #A861EB;
  }
  .progress-percentage {
    text-align: right;
    margin-top: 0px;
    font-size: 12px;
    font-weight: bold;
    padding-right: 15px;
  }
}