.payments {
  .col-sm-5 {
    margin-left: 10px;
    #credit-debit-card-number {
      width: 180px;
    }
    #credit-debit-card-cvc {
      width: 60px;
    }
    form {
      margin-left: 20px;
      margin-top: -10px;
    }
  }
  .checkbox {
    margin-left: 10px;
  }
  select {
    option {
      font-size: 16px;
    }
  }
}