.profile-page {
  color: #555555;

  .sub-menu {
    margin-top: 20px;
    margin-bottom: -5px;
    &.profile {
      border-bottom: none;
    }
  }

  .user-profile {
    border: 1px solid #cccccc;
    border-radius: 5px;
    margin-top: 80px;
    text-align: center;

    .portrait {
      position: absolute;
      top: -80px;
      left: 370px;
    }
    .name {
      margin-top: 80px;
      font-size: 32px;
      color: #50338F;
      font-weight: bold;
    }
    .level {
      font-size: 24px;
      font-weight: bold;
    }
    ul {
      list-style: none;
      margin-left: 200px;
      &.influr-data, &.social-media {
        margin-top: 20px;
        margin-bottom: 20px;
      }
      &.social-media {
        margin-left: 340px;
        li {
          margin-right: 5px;
        }
      }
      li {
        float: left;
        margin-right: 20px;
      }
    }
    p {
      margin: 0;
      color: #777777;
      span {
        font-size: 24px;
      }
      &.bio {
        margin-bottom: 20px;
      }
    }
  }
}