.treat, .assignment {
  background-color: #eeeeee;
  height: 200px;
  box-sizing: content-box;
  border-bottom: 2px solid #cccccc;
  transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  margin-top: 10px;
  margin-bottom: 10px;
  &:hover {
    cursor: pointer;
    border-bottom: 6px solid #ececec;
    background-color: #f8f8f8;
    transition: all 0.1s linear;
    -webkit-transition: all 0.1s linear;
    -o-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    -ms-transition: all 0.1s linear;
  }
  .col-sm-9 {
    height: 100%;
    padding: 0;
    .indicator {
      width: 0px;
      height: 0px;
      border-style: solid;
      border-width: 0 50px 50px 0;
      border-color: transparent #ff7a7a transparent transparent;
      position: absolute;
      top: 0;
      right: 0;

      span {
        color: #ffffff;
        font-size: 14px;
        margin-left: 20px;
        margin-top: 8px;
        display: inline-block;
        font-weight: bold;
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
      }
    }
    .title {
      font-size: 32px;
      font-weight: bold;
      line-height: 1.2em;
      margin-top: 10px;
      margin-bottom: 0;
      margin-right: 0;
      margin-left: 0;
      width: 95%;
    }
    ul.metadata {
      list-style: none;
      padding: 0;
      // margin-top: 30px;
      position: absolute;
      bottom: -12px;
      li {
        width: 150px;
        float: left;
        margin-right: 10px;
        p.metadata-title {
          font-size: 18px;
          color: #aaaaaa;
          margin-bottom: 0;
        }
        p.metadata-info {
          font-size: 18px;
          color: #111111;
        }
      }
    }
  }
  .cover-photo {
    padding-left: 0px;
  }
  .details {
    background-color: #eeeeee;
    height: 100%;
    border-top: 2px solid #f9f9f9;
    border-bottom: 2px solid #cccccc;
    &:hover {
      background-color: #f8f8f8;
      transition: all 0.2s linear;
      -webkit-transition: all 0.2s linear;
      -o-transition: all 0.2s linear;
      -moz-transition: all 0.2s linear;
      -ms-transition: all 0.2s linear;
    }
    ul {
      list-style: none;
      padding-left: 0;
      &.photos {
        li {
          float: left;
          margin-right: 10px;
        }
      }
    }
    button {
      margin-top: 25px;
    }
  }
}
.assignment {
  background-color: #F8F5FF;
  border-bottom: 2px solid #EBE2FF;
  &:hover {
    border-bottom: 6px solid #F6F2FF;
    background-color: #F9F7FF;
  }
  .col-sm-9 {
    .indicator {
      width: 0px;
      height: 0px;
      border-style: solid;
      border-width: 0 50px 50px 0;
      border-color: transparent #5CDD51 transparent transparent;
      position: absolute;
      top: 0;
      right: 0;

      span {
        color: #ffffff;
        font-size: 14px;
        margin-left: 30px;
        margin-top: 6px;
        display: inline-block;
        font-weight: bold;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);

        i {
          color: #ffffff;
        }
      }
    }
  }
  .details {
    background-color: #F8F5FF;
    border-bottom: 2px solid #EBE2FF;
    margin-bottom: 10px;
    &:hover {
      background-color: #F6F2FF;
    }
  }
}