<div class="row">
  <main-menu-business></main-menu-business>

  <div class="col-sm-10 create-treats-assignments">
    <div class="row">
      <div class="col-sm-12 sub-menu">
        <menu-aside-business-button></menu-aside-business-button>
        <div class="sub-menu-nav">
          <a href="#/business/assignments">ASSIGNMENTS CREATED</a> | <a href="#/business/assignments/create-assignment" class="active">CREATE ASSIGNMENT</a>
        </div>
        <div class="sub-menu-nav-popover">
          <submenu-popover active-nav="CREATE ASSIGNMENTS" content="<a href='#/business/assignments'>ASSIGNMENTS CREATED</a>"></submenu-popover>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-9 col-sm-offset-2">
        <form class="form-horizontal" role="form">
          <div class="form-group">
            <label for="title" class="col-sm-2 control-label">TITLE</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" placeholder="Title">
            </div>
          </div>

          <!-- <div class="form-group">
            <label class="col-sm-2 control-label">CATEGORY</label>
            <div class="col-sm-10">
              <select class="form-control">
                <option>Automotive</option>
                <option>Education & Learning</option>
                <option>Entertainment</option>
                <option>Financial Services</option>
                <option>Food & Beverages</option>
                <option>Hair & Beauty</option>
                <option>Luxury</option>
                <option>Retail</option>
                <option>Sports</option>
                <option>Technology</option>
                <option>Travel</option>
                <option>Parenting</option>
              </select>
            </div>
          </div> -->

          <div class="form-group">
            <label class="col-sm-2 control-label">LOCATION</label>
            <div class="col-sm-10">
              <select class="form-control">
                <option>Singapore</option>
              </select>
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-2 control-label">DESCRIPTION</label>
            <div class="col-sm-10">
              <textarea class="form-control" rows="5">Description of your assignment</textarea>
            </div>
          </div>

          <div class="form-group">
            <label for="photos" class="col-sm-2 control-label">PHOTOS</label>
            <div class="col-sm-10">
              <ul>
                <li>
                  <img src="http://placehold.it/150x150.png">
                </li>
                <li>
                  <div class="add-photo">
                    <span>+</span>
                    <br>
                    ADD
                    <br>
                    PHOTO
                  </div>
                </li>
              </ul>
            </div>
          </div>

          <div class="form-group">
            <label for="date" class="col-sm-2 control-label">DATE</label>
            <div class="col-sm-10 datepicker">
              <div class="col-sm-6 from-date">
                <input type="text" class="form-control" ng-model="fromDate" data-max-date="{{untilDate}}" placeholder="Start Date" data-date-format="fullDate" data-autoclose="true" bs-datepicker>
              </div>
              <span>to</span>
              <div class="col-sm-6 to-date">
                <input type="text" class="form-control" ng-model="untilDate" data-min-date="{{fromDate}}" placeholder="End Date" data-date-format="fullDate" data-autoclose="true" bs-datepicker>
              </div>
            </div>
          </div>

          <div class="form-group">
            <!-- milestones -->
          </div>

          <div class="form-group">
            <!-- hashtag -->
          </div>

          <div class="form-group">
            <!-- details of stuff -->
          </div>

          <div class="form-group">
            <label for="guidelines" class="col-sm-2 control-label">GUIDELINES</label>
            <div class="col-sm-10">
              <textarea class="form-control" rows="5">Guidelines for your assignment</textarea>
            </div>
          </div>

          <div class="form-group">
            <!-- Select your influencer area -->
          </div>

          <div class="form-group">
            <!-- Estimated minium budget + set budget -->
          </div>

          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button type="submit" class="btn btn-default">Create Assignment</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
