<div class="row">
  <main-menu-business></main-menu-business>

  <div class="col-sm-10 dashboard">
    <div class="row">
      <div class="col-sm-12 sub-menu">
        <menu-aside-business-button></menu-aside-business-button>
        <div class="sub-menu-nav">
          <a href="#/business/dashboard">SUMMARY</a> | <a href="#/business/dashboard/treats" class="active">TREATS</a> | <a href="#/business/dashboard/assignments">ASSIGNMENTS</a>
        </div>
        <div class="sub-menu-nav-popover">
          <submenu-popover active-nav="TREATS" content="<a href='#/business/dashboard'>SUMMARY</a> <br> <a href='#/business/dashboard/assignments'>ASSIGNMENTS</a>"></submenu-popover>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <div class="table-responsive">
          <table class="table table-striped table-hover table-condensed">
            <thead>
              <tr>
                <th>Date Created</th>
                <th>Name of Treat</th>
                <th>Status</th>
                <th>Usual Price</th>
                <th>Total Quantity</th>
                <th>Redeemeed Quantity</th>
                <th>Available Quantity</th>
                <th>Redemption Rate</th>
                <th>Sales Revenue</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>16th January 2014</td>
                <td>
                  Dinner for Two at Paradise Inn
                  <dashboard-popover icon="fa-link" content="<a href='#'>http://influr.com/treats/dinner-for-two-at-paradise-inn</a>" title="Public Link"></dashboard-popover>
                </td>
                <td>Live</td>
                <td>$70.00</td>
                <td>200</td>
                <td>
                  121
                  <dashboard-popover icon="fa-table" content="<p>Tier 1: 100</p> <p>Tier 2: 50</p> <p>Tier 3: 25</p> <p>Premium: 15</p>" title="Redemption Brekadown"></dashboard-popover>
                </td>
                <td>79</td>
                <td>62%</td>
                <td>$8010.25</td>
              </tr>
              <tr>
                <td>24th January 2014</td>
                <td>Unlimited Yoga Classes at Paradise Gym</td>
                <td>Expired</td>
                <td>$100.00</td>
                <td>150</td>
                <td>150</td>
                <td>70</td>
                <td>100%</td>
                <td>$13010.10</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>