<div class="row">
  <main-menu></main-menu>

  <div class="col-sm-10 assignments">
    <div class="row">
      <div class="col-sm-12 sub-menu">
        <menu-aside-button></menu-aside-button>
        <div class="sub-menu-nav">
          <a href="#/assignments" class="active">NEW ASSIGNMENTS</a> | <a href="#/assignments/ongoing">ONGOING ASSIGNMENTS</a> | <a href="#/assignments/done">ASSIGNMENTS DONE</a>
        </div>
        <div class="sub-menu-nav-popover">
          <submenu-popover active-nav="NEW ASSIGNMENTS" content="<a href='#/assignments/ongoing'>ONGOING ASSIGNMENTS</a> <br> <a href='#/assignments/done'>ASSIGNMENTS DONE</a>"></submenu-popover>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-10 main-content">
        <div class="feed-group">
          <div class="feed-object">
            <assignment></assignment>
          </div>

          <div class="feed-object">
            <assignment></assignment>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
