<div class="row">
  <main-menu></main-menu>

  <div class="col-sm-10 highlights">
    <div class="row">
      <div class="col-sm-12 sub-menu">
        <menu-aside-button></menu-aside-button>
        <a href="#/highlights" class="active">YOUR HIGHLIGHTS</a>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-10 main-content">
        <div class="highlight">
          <img src="http://placehold.it/250x180.png" class="photo">
          <div class="indicator facebook">
            <i class="fa fa-facebook"></i>
          </div>
          <p class="caption">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          </p>
          <p class="date">
            POSTED ON 21ST JULY 2013
          </p>
          <ul class="metadata">
            <li>
              <p class="title">COMMENTS</p>
              <p class="value">14</p>
            </li>
            <li>
              <p class="title">LIKES</p>
              <p class="value">32</p>
            </li>
            <li>
              <p class="title">SHARES</p>
              <p class="value">3</p>
            </li>
          </ul>
        </div>

        <div class="highlight">
          <img src="http://placehold.it/250x180.png" class="photo">
          <div class="indicator twitter">
            <i class="fa fa-twitter"></i>
          </div>
          <p class="caption">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          </p>
          <p class="date">
            POSTED ON 21ST JULY 2013
          </p>
          <ul class="metadata">
            <li>
              <p class="title">REPLIES</p>
              <p class="value">14</p>
            </li>
            <li>
              <p class="title">FAVOURITES</p>
              <p class="value">32</p>
            </li>
            <li>
              <p class="title">RETWEETS</p>
              <p class="value">3</p>
            </li>
          </ul>
        </div>

        <div class="highlight">
          <img src="http://placehold.it/250x180.png" class="photo">
          <div class="indicator instagram">
            <i class="fa fa-instagram"></i>
          </div>
          <p class="caption">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          </p>
          <p class="date">
            POSTED ON 21ST JULY 2013
          </p>
          <ul class="metadata">
            <li>
              <p class="title">COMMENTS</p>
              <p class="value">14</p>
            </li>
            <li>
              <p class="title">LIKES</p>
              <p class="value">32</p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>