<div class="row">
  <main-menu></main-menu>

  <div class="col-sm-10 payments">
    <div class="row">
      <div class="col-sm-12 sub-menu">
        <menu-aside-button></menu-aside-button>
        <a href="#/treats" class="active">YOUR PURCHASE ORDER</a>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-10 main-content">
        <table class="table">
          <thead>
            <tr>
              <th>Treat</th>
              <th>Quantity</th>
              <th>Usual Price</th>
              <th>Discounted Price</th>
              <th>Total</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Dinner for Two at River Valley Restaurant</td>
              <td>1</td>
              <td>$39.99</td>
              <td>$29.99</td>
              <td>$29.99</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-10 col-sm-offset-1">
        <table class="table">
          <thead>
            <tr>
              <th>Choose your payment method:</th>
            </tr>
          </thead>
        </table>
        <div class="row">
          <div class= "col-sm-5">
            <div class="radio-inline">
              <label>
                <input type="radio" name="credit-debit-card" id="credit-debit-card" value="card"> Credit / Debit Card <img src="http://placehold.it/60x30.png">
              </label>
            </div>
            <form role="form">
              <div class="form-group">
                <label for="credit-debit-card-number">Credit / Debit Card No.</label>
                <input type="text" class="form-control" id="credit-debit-card-number" placeholder="•••• •••• •••• ••••">
              </div>
              <div class="form-group">
                <label for="credit-debit-card-cvc">CVC / CVV (?)</label>
                <input type="text" class="form-control" id="credit-debit-card-cvc" placeholder="•••">
              </div>
              <div class="form-group">
                <label for="credit-debit-card-valid-month">CVC / CVV (?)</label>
                <div>
                  <select>
                    <option>January</option>
                    <option>February</option>
                    <option>March</option>
                    <option>April</option>
                    <option>May</option>
                    <option>June</option>
                    <option>July</option>
                    <option>August</option>
                    <option>September</option>
                    <option>October</option>
                    <option>November</option>
                    <option>December</option>
                  </select>
                  /
                  <select>
                    <option>2014</option>
                    <option>2015</option>
                    <option>2016</option>
                    <option>2017</option>
                    <option>2018</option>
                    <option>2019</option>
                    <option>2020</option>
                    <option>2021</option>
                    <option>2022</option>
                    <option>2023</option>
                    <option>2024</option>
                  </select>
                </div>
              </div>
            </form>
          </div>
          <div class="col-sm-5">
            <div class="radio-inline">
              <label>
                <input type="radio" name="paypal" id="paypal" value="paypal"> Paypal <img src="http://placehold.it/60x30.png">
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-10 col-sm-offset-1">
        <table class="table">
          <thead>
            <tr>
              <th>Terms & Conditions</th>
            </tr>
          </thead>
        </table>

        <div class="checkbox">
          <label>
            <input type="checkbox" value="">
            Share the purchase of this treat on my influr network
          </label>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox" value="">
            I certify that I am at least 18 years old and I have read and agreed to the <a href="#">Terms & Conditions</a>
          </label>
        </div>
        <button type="submit" class="btn btn-default">Submit Order</button>
      </div>
    </div>
  </div>
</div>