<div class="row">
  <main-menu-business></main-menu-business>

  <div class="col-sm-10 dashboard">
    <div class="row">
      <div class="col-sm-12 sub-menu">
        <menu-aside-business-button></menu-aside-business-button>
        <div class="sub-menu-nav">
          <a href="#/business/dashboard" class="active">SUMMARY</a> | <a href="#/business/dashboard/treats">TREATS</a> | <a href="#/business/dashboard/assignments">ASSIGNMENTS</a>
        </div>
        <div class="sub-menu-nav-popover">
          <submenu-popover active-nav="SUMMARY" content="<a href='#/business/dashboard/treats'>TREATS</a> <br> <a href='#/business/dashboard/assignments'>ASSIGNMENTS</a>"></submenu-popover>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-10 col-sm-offset-1">
        <ul class="statistics">
          <li>
            <p class="value">12</p>
            <p class="title">Treats Created</p>
          </li>
          <li>
            <p class="value">314</p>
            <p class="title">Treats Redeemed</p>
          </li>
          <li>
            <p class="value positive">85%</p>
            <p class="title">Treats Redemption Rate</p>
          </li>
          <li>
            <p class="value">5</p>
            <p class="title">Assignments Created</p>
          </li>
          <li>
            <p class="value">18</p>
            <p class="title">Influencers Engaged</p>
          </li>
          <li>
            <p class="value positive">75%</p>
            <p class="title">Influencers Engagement Rate</p>
          </li>
          <li>
            <p class="value">68</p>
            <p class="title">Actions Done By Influencers</p>
          </li>
          <li>
            <p class="sub-value">829</p>
            <p class="sub-title">Likes Generated</p>
            <p class="sub-value">223</p>
            <p class="sub-title">Comments Generated</p>
            <p class="sub-value">33</p>
            <p class="sub-title">Amplfications Generated</p>
          </li>
          <li>
            <p class="value positive">15x</p>
            <p class="title">Approximate Increase in Reach</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>