<div class="row">
  <main-menu></main-menu>

  <!-- Feed -->
  <div class="col-sm-10 feed">
    <div class="row">
      <div class="col-sm-12 sub-menu">
        <a href="#/feed" class="active">YOUR INFLUR FEED</a>
      </div>
    </div>

    <!-- Entire Feed Group -->
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1">

        <div class="feed-group">
          <p class="date">WEDNESDAY 29TH JANUARY 2014</p>
          <div class="row feed-object">
          <p><i class="fa fa-pencil-square-o"></i> You have been selected for an assignment by Audi:</p>
            <assignment></assignment>
          </div>
        </div>

        <div class="feed-group">
          <p class="date">MONDAY 27TH JANUARY 2014</p>
          <div class="row feed-object">
            <div class="highlights-change">
              <p><i class="fa fa-star"></i> There are changes to your <a href="#">top social media highlights</a>:</p>
              <div class="highlight">
                <img src="http://placehold.it/250x180.png" class="photo">
                <div class="indicator facebook">
                  <i class="fa fa-facebook"></i>
                </div>
                <p class="caption">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                </p>
                <p class="date">
                  POSTED ON 21ST JULY 2013
                </p>
                <ul class="metadata">
                  <li>
                    <p class="title">COMMENTS</p>
                    <p class="value">14</p>
                  </li>
                  <li>
                    <p class="title">LIKES</p>
                    <p class="value">32</p>
                  </li>
                  <li>
                    <p class="title">SHARES</p>
                    <p class="value">3</p>
                  </li>
                </ul>
              </div>

              <div class="highlight">
                <img src="http://placehold.it/250x180.png" class="photo">
                <div class="indicator twitter">
                  <i class="fa fa-twitter"></i>
                </div>
                <p class="caption">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                </p>
                <p class="date">
                  POSTED ON 21ST JULY 2013
                </p>
                <ul class="metadata">
                  <li>
                    <p class="title">REPLIES</p>
                    <p class="value">14</p>
                  </li>
                  <li>
                    <p class="title">FAVOURITES</p>
                    <p class="value">32</p>
                  </li>
                  <li>
                    <p class="title">RETWEETS</p>
                    <p class="value">3</p>
                  </li>
                </ul>
              </div>

              <div class="highlight">
                <img src="http://placehold.it/250x180.png" class="photo">
                <div class="indicator instagram">
                  <i class="fa fa-instagram"></i>
                </div>
                <p class="caption">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                </p>
                <p class="date">
                  POSTED ON 21ST JULY 2013
                </p>
                <ul class="metadata">
                  <li>
                    <p class="title">COMMENTS</p>
                    <p class="value">14</p>
                  </li>
                  <li>
                    <p class="title">LIKES</p>
                    <p class="value">32</p>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <div class="feed-group">
          <p class="date">SUNDAY 26TH JANUARY 2014</p>
          <div class="row feed-object">
            <div class="network-treat-redemption">
              <p><img src="http://placehold.it/22x22.png" class="img-circle"> <a href="#">Jennifer Lawrence</a> redeemed a treat: <a href="#">Christmas Dinner Set for Two</a> at 3:24pm.</p>
            </div>
          </div>
        </div>

        <div class="feed-group">
          <p class="date">FRIDAY 24TH JANUARY 2014</p>
          <p><i class="fa fa-gift"></i> Recommended treats for you:</p>

          <div class="row feed-object">
            <treat></treat>
          </div>

          <div class="row feed-object">
            <treat></treat>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>