<div class="row">
  <main-menu></main-menu>

  <div class="col-sm-10 col-sm-offset-2 treats">
    <div class="row">
      <div class="col-sm-12 sub-menu">
        <a href="#/treats" class="active">TREATS CATALOGUE</a> | <a href="#/treats/redeemed">TREATS REDEEMED</a>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-10 col-sm-offset-1">
        <div class="input-group input-group-lg">
          <span class="input-group-addon"><i class="fa fa-search"></i></span>
          <input type="text" class="form-control" placeholder="Search treats catalogue...">
        </div>
        <p class="filter-title">FILTER TREATS BY</p>
        <div class="filter-group row">
          <ul>
            <li class="col-sm-3">
              <div class="input-group">
                <select class="form-control">
                  <option>Food & Beverages</option>
                  <option>Other Category</option>
                  <option>Other Category</option>
                  <option>Other Category</option>
                </select>
                <p class="filter-select-title">CATEGORY</p>
              </div>
            </li>
            <li class="col-sm-3">
              <div class="input-group">
                <select class="form-control">
                  <option>Lowest to Highest</option>
                  <option>Other Category</option>
                  <option>Other Category</option>
                  <option>Other Category</option>
                </select>
                <p class="filter-select-title">PRICE</p>
              </div>
            </li>
            <li class="col-sm-3">
              <div class="input-group">
                <select class="form-control">
                  <option>Soonest to Latest</option>
                  <option>Other Category</option>
                  <option>Other Category</option>
                  <option>Other Category</option>
                </select>
                <p class="filter-select-title">EXPIRY DATE</p>
              </div>
            </li>
            <li class="col-sm-3">
              <div class="input-group">
                <select class="form-control">
                  <option>Singapore</option>
                  <option>Other Category</option>
                  <option>Other Category</option>
                  <option>Other Category</option>
                </select>
                <p class="filter-select-title">LOCATION</p>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-10 col-sm-offset-1">
        <div class="feed-group">
          <div class="row feed-object">
            <treat></treat>
          </div>

          <div class="row feed-object">
            <treat></treat>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
