<div class="row">
  <main-menu></main-menu>

  <div class="col-sm-10 col-sm-offset-2 feed">
    <div class="row">
      <div class="col-sm-12 sub-menu">
        <a href="#/network">YOUR NETWORK</a> | <a href="#/network/feed" class="active">NETWORK ACTIVITY FEED</a>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-10 col-sm-offset-1">
        <div class="feed-group">
          <p class="date">SUNDAY 26TH JANUARY 2014</p>
          <div class="row feed-object">
            <div class="network-treat-redemption">
              <p><img src="http://placehold.it/22x22.png" class="img-circle"> <a href="#">Jennifer Lawrence</a> redeemed a treat: <a href="#">Christmas Dinner Set for Two</a> at 3:24pm.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
