<div class="row">
  <main-menu></main-menu>

  <div class="col-sm-10 col-sm-offset-2 network-list">
    <div class="row">
      <div class="col-sm-12 sub-menu">
        <a href="#/network" class="active">YOUR NETWORK</a> | <a href="#/network/feed">NETWORK ACTIVITY FEED</a>
      </div>
    </div>

    <div class="network">
      <img src="http://placehold.it/80x80.png" class="img-circle portrait">
      <p class="name">Scarlett Johansson</p>
      <p class="level">Level 5</p>
      <ul>
        <li>
          <p class="value">21</p>
          <p class="title">TREATS REDEEMED</p>
        </li>
        <li>
          <p class="value">15</p>
          <p class="title">ASSIGNMENTS DONE</p>
        </li>
      </ul>
    </div>

    <div class="network">
      <img src="http://placehold.it/80x80.png" class="img-circle portrait">
      <p class="name">Scarlett Johansson</p>
      <p class="level">Level 5</p>
      <ul>
        <li>
          <p class="value">21</p>
          <p class="title">TREATS REDEEMED</p>
        </li>
        <li>
          <p class="value">15</p>
          <p class="title">ASSIGNMENTS DONE</p>
        </li>
      </ul>
    </div>

    <div class="network">
      <img src="http://placehold.it/80x80.png" class="img-circle portrait">
      <p class="name">Scarlett Johansson</p>
      <p class="level">Level 5</p>
      <ul>
        <li>
          <p class="value">21</p>
          <p class="title">TREATS REDEEMED</p>
        </li>
        <li>
          <p class="value">15</p>
          <p class="title">ASSIGNMENTS DONE</p>
        </li>
      </ul>
    </div>

    <div class="network">
      <img src="http://placehold.it/80x80.png" class="img-circle portrait">
      <p class="name">Scarlett Johansson</p>
      <p class="level">Level 5</p>
      <ul>
        <li>
          <p class="value">21</p>
          <p class="title">TREATS REDEEMED</p>
        </li>
        <li>
          <p class="value">15</p>
          <p class="title">ASSIGNMENTS DONE</p>
        </li>
      </ul>
    </div>

    <div class="network">
      <img src="http://placehold.it/80x80.png" class="img-circle portrait">
      <p class="name">Scarlett Johansson</p>
      <p class="level">Level 5</p>
      <ul>
        <li>
          <p class="value">21</p>
          <p class="title">TREATS REDEEMED</p>
        </li>
        <li>
          <p class="value">15</p>
          <p class="title">ASSIGNMENTS DONE</p>
        </li>
      </ul>
    </div>
  </div>
</div>