<div class="row">
  <main-menu></main-menu>

  <div class="col-sm-10 col-sm-offset-2 settings">
    <div class="row">
      <div class="col-sm-12 sub-menu">
        <a href="#/settings">PROFILE</a> | <a href="#/settings/social-media">SOCIAL MEDIA ACCOUNTS</a> | <a href="#/settings/privacy" class="active">PRIVACY</a>
      </div>

    <div class="row">
      <div class="col-sm-7 col-sm-offset-2">
        <form class="form-horizontal" role="form">
          <div class="form-group">
            <label for="gender" class="col-sm-3 control-label">LOCATION</label>
            <div class="col-sm-9">
              <div class="radio-inline">
                <label>
                  <input type="radio" name="show" id="show" value="show"> Show
                </label>
              </div>
              <div class="radio-inline">
                <label>
                  <input type="radio" name="hide" id="hide" value="hide"> Hide
                </label>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="gender" class="col-sm-3 control-label">BIO</label>
            <div class="col-sm-9">
              <div class="radio-inline">
                <label>
                  <input type="radio" name="show" id="show" value="show"> Show
                </label>
              </div>
              <div class="radio-inline">
                <label>
                  <input type="radio" name="hide" id="hide" value="hide"> Hide
                </label>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="gender" class="col-sm-3 control-label">TOP MOMENTS</label>
            <div class="col-sm-9">
              <div class="radio-inline">
                <label>
                  <input type="radio" name="show" id="show" value="show"> Show
                </label>
              </div>
              <div class="radio-inline">
                <label>
                  <input type="radio" name="hide" id="hide" value="hide"> Hide
                </label>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="gender" class="col-sm-3 control-label">FACEBOOK <i class="fa fa-facebook"></i></label>
            <div class="col-sm-9">
              <div class="radio-inline">
                <label>
                  <input type="radio" name="show" id="show" value="show"> Show
                </label>
              </div>
              <div class="radio-inline">
                <label>
                  <input type="radio" name="hide" id="hide" value="hide"> Hide
                </label>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="gender" class="col-sm-3 control-label">TWITTER <i class="fa fa-twitter"></i></label>
            <div class="col-sm-9">
              <div class="radio-inline">
                <label>
                  <input type="radio" name="show" id="show" value="show"> Show
                </label>
              </div>
              <div class="radio-inline">
                <label>
                  <input type="radio" name="hide" id="hide" value="hide"> Hide
                </label>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="gender" class="col-sm-3 control-label">INSTAGRAM <i class="fa fa-instagram"></i></label>
            <div class="col-sm-9">
              <div class="radio-inline">
                <label>
                  <input type="radio" name="show" id="show" value="show"> Show
                </label>
              </div>
              <div class="radio-inline">
                <label>
                  <input type="radio" name="hide" id="hide" value="hide"> Hide
                </label>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
