<div class="row">
  <main-menu></main-menu>

  <div class="col-sm-10 col-sm-offset-2 profile-page">
    <div class="row">
      <div class="user-profile col-sm-10 col-sm-offset-1">
        <img src="http://placehold.it/150x150.png" class="img-circle portrait">
        <p class="name">Scarlett Johansson</p>
        <p class="level">Level 5</p>
        <p class="location">Singapore</p>
        <p class="date">Joined on 16th January 2013</p>
        <ul class="influr-data clearfix">
          <li>
            <p><span>21</span> TREATS REDEEEMED</p>
          </li>
          <li>
            <p><span>15</span> ASSIGNMENTS DONE</p>
          </li>
        </ul>
        <ul class="social-media clearfix">
          <li>
            <a href="#"><i class="fa fa-facebook"></i></a>
          </li>
          <li>
            <a href="#"><i class="fa fa-twitter"></i></a>
          </li>
          <li>
            <a href="#"><i class="fa fa-instagram"></i></a>
          </li>
        </ul>
        <p class="bio clearfix">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
        </p>
      </div>

      <div class="col-sm-12 profile sub-menu">
        <a href="#/user/scarlett">TREATS REDEEMED</a> | <a href="#/user/scarlett/assignments">ASSIGNMENTS COMPLETED</a> | <a href="#/user/scarlett/highlights" class="active">TOP MOMENTS</a>
      </div>

      <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
          <div class="highlight">
            <img src="http://placehold.it/250x180.png" class="photo">
            <div class="indicator facebook">
              <i class="fa fa-facebook"></i>
            </div>
            <p class="caption">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            </p>
            <p class="date">
              POSTED ON 21ST JULY 2013
            </p>
            <ul class="metadata">
              <li>
                <p class="title">COMMENTS</p>
                <p class="value">14</p>
              </li>
              <li>
                <p class="title">LIKES</p>
                <p class="value">32</p>
              </li>
              <li>
                <p class="title">SHARES</p>
                <p class="value">3</p>
              </li>
            </ul>
          </div>

          <div class="highlight">
            <img src="http://placehold.it/250x180.png" class="photo">
            <div class="indicator twitter">
              <i class="fa fa-twitter"></i>
            </div>
            <p class="caption">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            </p>
            <p class="date">
              POSTED ON 21ST JULY 2013
            </p>
            <ul class="metadata">
              <li>
                <p class="title">REPLIES</p>
                <p class="value">14</p>
              </li>
              <li>
                <p class="title">FAVOURITES</p>
                <p class="value">32</p>
              </li>
              <li>
                <p class="title">RETWEETS</p>
                <p class="value">3</p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>