$icon-font-path: "/bower_components/sass-bootstrap/fonts/";
$font-family: 'futura-pt', 'Open Sans', Arial, Helvetica, sans-serif;

@import 'sass-bootstrap/lib/bootstrap';
@import '../styles/menu';
@import '../styles/feed';
@import '../styles/highlights';
@import '../styles/network';
@import '../styles/treats';
@import '../styles/settings';
@import '../styles/profile';
@import '../styles/payments';
@import '../styles/dashboard';
@import '../styles/treat';
@import '../styles/create-treats-assignments';
@import '../styles/aside';

body {
  font-family: $font-family;
  font-size: 18px;
}

a {
  color: #50338F;
  &:hover {
    color: #50338F;
    // text-decoration: none;
  }
}

.container-full {
  margin: 0 auto;
  width: 100%;
  height: 100%;
}

.fa-facebook {
  background-color: #3C5A96;
  width: 20px;
  height: 20px;
  padding-left: 6px;
  padding-top: 4px;
  color: #ffffff;
  font-size: 13px;
  border-radius: 3px;
  margin-right: 3px;
}
.fa-twitter {
  background-color: #26ADEA;
  width: 20px;
  height: 20px;
  padding-left: 5px;
  padding-top: 5px;
  color: #ffffff;
  font-size: 12px;
  border-radius: 3px;
  margin-right: 3px;
}
.fa-instagram {
  background-color: #5380A2;
  width: 20px;
  height: 20px;
  padding-left: 5px;
  padding-top: 5px;
  color: #ffffff;
  font-size: 11px;
  border-radius: 3px;
  margin-right: 3px;
}

@media all and (max-width: 1069px) {
  .col-sm-10.main-content {
    width: 100%;
  }
  .col-sm-10 {
    &.feed, &.treats, &.assignments, &.profile-page, &.highlights, &.network-list, &.settings, &.dashboard, &.create-treats-assignments {
      width: 100%;
    }
  }
}

@media all and (min-width: 1070px) and (max-width: 1120px) {
  .feed, .treats, .assignments, .profile-page, .highlights,  {
    .row {
      .col-sm-10.main-content {
        margin-left: 1%;
      }
    }
  }
}

@media all and (min-width: 1120px) and (max-width: 1200px) {
  .feed, .treats, .assignments, .profile-page, .highlights,  {
    .row {
      .col-sm-10.main-content {
        margin-left: 3.5%;
      }
    }
  }
}

@media all and (min-width: 1200px) and (max-width: 1300px) {
  .feed, .treats, .assignments, .profile-page, .highlights,  {
    .row {
      .col-sm-10.main-content {
        margin-left: 4.5%;
      }
    }
  }
}

@media all and (min-width: 1300px) and (max-width: 1400px) {
  .feed, .treats, .assignments, .profile-page, .highlights,  {
    .row {
      .col-sm-10.main-content {
        margin-left: 6%;
      }
    }
  }
}

@media all and (min-width: 1400px) and (max-width: 1750px) {
  .feed, .treats, .assignments, .profile-page, .highlights,  {
    .row {
      .col-sm-10.main-content {
        margin-left: 14%;
      }
    }
  }
}

@media all and (min-width: 1750px) and (max-width: 2200px) {
  .feed, .treats, .assignments, .profile-page, .highlights,  {
    .row {
      .col-sm-10.main-content {
        margin-left: 23%;
      }
    }
  }
}

@media all and (min-width: 2200px) {
  .feed, .treats, .assignments, .profile-page, .highlights,  {
    .row {
      .col-sm-10.main-content {
        margin-left: 29%;
      }
    }
  }
}